
{% extends "base.html" %}

{% block title %}
  Missing Ontologies
{% endblock title %}

{% block content %}

  <h1>Ontologies report</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        {# column fixed size #}
        {# https://stackoverflow.com/a/18498071/4385116 #}
        <th scope="col">Name</th>
        <th scope="col">Total</th>
        <th scope="col">Unknown</th>
        <th scope="col" style="width: 20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-primary">
        <th scope="row">Breeds</th>
        <td>{{missing_terms.breeds_total}}</td>
        <td>{{missing_terms.breeds_without_ontology}}</td>
        <td>
            <button id="annotate_breeds" type="button" class="btn btn-outline-info btn-sm {% if missing_terms.breeds_without_ontology == 0 %} disabled{% endif %}"><i class="fas fa-search"></i> Annotate</button>
            {% if user.is_staff %}
              <a class="btn btn-outline-warning btn-sm" href="{% url 'admin:image_app_dictbreed_changelist' %}" target="_blank" role="button"><i class="fas fa-edit"></i> Edit</a>
            {% else %}
              <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need ontology privileges to edit this!">
                <a class="btn btn-outline-warning btn-sm disabled" href="#" role="button"><i class="fas fa-edit"></i> Edit</a>
              </span>
            {% endif %}
        </td>
      </tr>
      <tr class="table-secondary">
        <th scope="row">Countries</th>
        <td>{{missing_terms.countries_total}}</td>
        <td>{{missing_terms.countries_without_ontology}}</td>
        <td>
          <button id="annotate_countries" type="button" class="btn btn-outline-info btn-sm{% if missing_terms.countries_without_ontology == 0 %} disabled{% endif %}" href="#" role="button"><i class="fas fa-search"></i> Annotate</button>
          {% if user.is_staff %}
            <a class="btn btn-outline-warning btn-sm" href="{% url 'admin:image_app_dictcountry_changelist' %}" target="_blank" role="button"><i class="fas fa-edit"></i> Edit</a>
          {% else %}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need ontology privileges to edit this!">
              <a class="btn btn-outline-warning btn-sm disabled" href="#" role="button"><i class="fas fa-edit"></i> Edit</a>
            </span>
          {% endif %}
        </td>
      </tr>
      <tr class="table-primary">
        <th scope="row">Species</th>
        <td>{{missing_terms.species_total}}</td>
        <td>{{missing_terms.species_without_ontology}}</td>
        <td>
          <button id="annotate_species" type="button" class="btn btn-outline-info btn-sm{% if missing_terms.species_without_ontology == 0 %} disabled{% endif %}" href="#" role="button"><i class="fas fa-search"></i> Annotate</button>
          {% if user.is_staff %}
            <a class="btn btn-outline-warning btn-sm" href="{% url 'admin:image_app_dictspecie_changelist' %}" target="_blank" role="button"><i class="fas fa-edit"></i> Edit</a>
          {% else %}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need ontology privileges to edit this!">
              <a class="btn btn-outline-warning btn-sm disabled" href="#" role="button"><i class="fas fa-edit"></i> Edit</a>
            </span>
          {% endif %}
        </td>
      </tr>
      <tr class="table-secondary">
        <th scope="row">Organism parts</th>
        <td>{{missing_terms.organism_parts_total}}</td>
        <td>{{missing_terms.organism_parts_without_ontology}}</td>
        <td>
          <button id="annotate_organismparts" type="button" class="btn btn-outline-info btn-sm{% if missing_terms.organism_parts_without_ontology == 0 %} disabled{% endif %}" href="#" role="button"><i class="fas fa-search"></i> Annotate</button>
          {% if user.is_staff %}
            <a class="btn btn-outline-warning btn-sm" href="{% url 'admin:image_app_dictuberon_changelist' %}" target="_blank" role="button"><i class="fas fa-edit"></i> Edit</a>
          {% else %}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need ontology privileges to edit this!">
              <a class="btn btn-outline-warning btn-sm disabled" href="#" role="button"><i class="fas fa-edit"></i> Edit</a>
            </span>
          {% endif %}
        </td>
      </tr>
      <tr class="table-primary">
        <th scope="row">Developmental stages</th>
        <td>{{missing_terms.developmental_stages_total}}</td>
        <td>{{missing_terms.developmental_stages_without_ontology}}</td>
        <td>
          <button id="annotate_develstages" type="button" class="btn btn-outline-info btn-sm{% if missing_terms.developmental_stages_without_ontology == 0 %} disabled{% endif %}" href="#" role="button"><i class="fas fa-search"></i> Annotate</button>
          {% if user.is_staff %}
            <a class="btn btn-outline-warning btn-sm" href="{% url 'admin:image_app_dictdevelstage_changelist' %}" target="_blank" role="button"><i class="fas fa-edit"></i> Edit</a>
          {% else %}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need ontology privileges to edit this!">
              <a class="btn btn-outline-warning btn-sm disabled" href="#" role="button"><i class="fas fa-edit"></i> Edit</a>
            </span>
          {% endif %}
        </td>
      </tr>
      <tr class="table-secondary">
        <th scope="row">Physiological stages</th>
        <td>{{missing_terms.physiological_stages_total}}</td>
        <td>{{missing_terms.physiological_stages_without_ontology}}</td>
        <td>
          <!--
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
          -->
          <button id="annotate_physiostages" type="button" class="btn btn-outline-info btn-sm{% if missing_terms.physiological_stages_without_ontology == 0 %} disabled{% endif %}" href="#" role="button"><i class="fas fa-search"></i> Annotate</a>
          {% if user.is_staff %}
            <a class="btn btn-outline-warning btn-sm" href="{% url 'admin:image_app_dictphysiostage_changelist' %}" target="_blank" role="button"><i class="fas fa-edit"></i> Edit</a>
          {% else %}
            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="You need ontology privileges to edit this!">
              <a class="btn btn-outline-warning btn-sm disabled" href="#" role="button"><i class="fas fa-edit"></i> Edit</a>
            </span>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <p class="container mt-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 mt-2 text-center">
        <a class="btn btn-info btn-lg btn-block" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a>
      </div>
    </div>
  </p>

{% endblock content %}

{% block custom-js %}

{% include "includes/ajax_stuff.html" %}

  <script>
  // Jquery called when document is loaded
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  $('#annotate_breeds').click(function() {
    console.log("Calling annotate_breeds");

    // do the ajax call
    $.post(
      '{% url "zooma:annotate_breeds" %}',
      {},
      function( data ) {
        console.log(data.status);
      }
    );

    // disable button after click event https://stackoverflow.com/a/3566864/4385116
    $(this).addClass("disabled");

    // enable button after a certain period https://stackoverflow.com/a/3328646/4385116
    setTimeout(function () {
        $("#annotate_breeds").removeClass("disabled");
    }, 60*1000);
  });

  $('#annotate_countries').click(function() {
    console.log("Calling annotate_countries");

    // do the ajax call
    $.post(
      '{% url "zooma:annotate_countries" %}',
      {},
      function( data ) {
        console.log(data.status);
      }
    );

    // disable button after click event https://stackoverflow.com/a/3566864/4385116
    $(this).addClass("disabled");

    // enable button after a certain period https://stackoverflow.com/a/3328646/4385116
    setTimeout(function () {
        $("#annotate_countries").removeClass("disabled");
    }, 60*1000);
  });

  </script>

{% endblock custom-js %}
