
{% extends "base.html" %}

{% block title %}
  Submission {{ submission.pk }}
{% endblock title %}

{% block content %}

<h1>Submission Detail</h1>

<table class="table table-hover">
  <tbody>
    <tr class="table-primary">
      <th scope="row">Submission Title:</th>
      <td>{{ submission.title }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Description:</th>
      <td>{{ submission.description }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Gene Bank Name:</th>
      <td id="claims">{{ submission.gene_bank_name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Gene Bank Country:</th>
      <td>{{ submission.gene_bank_country }}</td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Organization:</th>
      <td id="claims">{{ submission.organization }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Datasource Type:</th>
      <td>{{ submission.get_datasource_type_display }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Datasource version:</th>
      <td>{{ submission.datasource_version }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Data File:</th>
      <td id="claims"><a href="{{ submission.uploaded_file.url }}">{{ submission.get_uploaded_file_basename }}</a></td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Created at:</th>
      <td>{{ submission.created_at }}</td>
    </tr>
  </tbody>
</table>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4 lead text-center"><a class="btn btn-primary btn-lg btn-block {% if submission.status == 0 %}disabled{% endif %}" href="#" role="button">Edit data</a></div>
    <div class="col-sm-4 lead text-center"><a class="btn btn-warning btn-lg btn-block {% if submission.status == 0 %}disabled{% endif %}" href="#" role="button">Validate</a></div>
    <div class="col-sm-4 lead text-center"><a class="btn btn-success btn-lg btn-block {% if submission.status == 0 %}disabled{% endif %}" href="#" role="button">Submit</a></div>
  </div>
</div>

{% endblock content %}
