
{% extends "base.html" %}

{% load submissions_tags %}

{% block title %}
  Submission {{ submission.pk }}
{% endblock title %}

{% block content %}

<h1>Submission Detail for <em>{{ submission.title }}</em></h1>

<table class="table table-hover table-responsive-sm">
  <tbody>
    <tr class="table-primary">
      <th scope="row">Submission Title:</th>
      <td>{{ submission.title }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Description:</th>
      <td>{{ submission.description }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Gene Bank Name:</th>
      <td id="claims">{{ submission.gene_bank_name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Gene Bank Country:</th>
      <td>{{ submission.gene_bank_country }}</td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Organization:</th>
      <td id="claims">{{ submission.organization }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Data Source Type:</th>
      <td>{{ submission.get_datasource_type_display }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Data Source version:</th>
      <td>{{ submission.datasource_version }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Data File:</th>
      <td id="claims"><a href="{{ submission.uploaded_file.url }}">{{ submission.get_uploaded_file_basename }}</a></td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Created at:</th>
      <td>{{ submission.created_at }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Status:</th>
      <td>{{ submission.get_status_display }}</td>
    </tr>
  </tbody>
</table>

{# call a custom templatetag and send result into a variable #}
{% can_edit submission as edit %}
{% can_validate submission as validate %}
{% can_submit submission as submit %}
{# TODO: a new templatetag for updating/deleting submission #}

<div class="container mt-3">
  <div class="row">
    {# disabling a button if waiting variable is set to true #}
    <div class="col-sm-4 mt-2 lead text-center"><a class="btn btn-primary btn-lg btn-block {% if not edit %}disabled{% endif %}" href="{% url 'submissions:edit' pk=submission.pk %}" role="button">Edit data</a></div>
    <div class="col-sm-4 mt-2 lead text-center"><a class="btn btn-warning btn-lg btn-block {% if not validate %}disabled{% endif %}" href="javascript:{document.getElementById('validate').submit()}" role="button">Validate</a></div>
    <div class="col-sm-4 mt-2 lead text-center"><a class="btn btn-success btn-lg btn-block {% if not submit %}disabled{% endif %}" href="javascript:{document.getElementById('submit').submit()}" role="button">Submit</a></div>
  </div>
  <div class="row">
    <div class="col-sm-4 mt-2 lead text-center"><a class="btn btn-info btn-lg btn-block" href="{% url 'submissions:list' %}" role="button">Submissions List</a></div>
    <div class="col-sm-4 mt-2 lead text-center"><a class="btn btn-secondary btn-lg btn-block" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a></div>
    {# TODO: disable button if necessary #}
    <div class="col-sm-4 mt-2 lead text-center btn-group">
      <button type="button" class="btn btn-danger btn-lg btn-block dropdown-toggle {% if not edit %}disabled{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danger Zone</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'submissions:reload' pk=submission.pk %}">Reload datasource</a>
        <a class="dropdown-item" href="#">Update submission</a>
        <a class="dropdown-item" href="#">Delete submission</a>
      </div>
    </div>
  </div>
</div>

<form id='validate' action="{% url 'validation:validate' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="submission_id" value="{{ submission.pk }}">
</form>

<form id='submit' action="{% url 'biosample:submit' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="submission_id" value="{{ submission.pk }}">
</form>

{% endblock content %}
