{% extends "base.html" %}

{% block title %}
  Submission List
{% endblock title %}

{% block content %}

<h1>Resume a submission</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
      <th scope="col">File</th>
      <th scope="col">Created</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {% for submission in object_list %}
      <tr class="{% cycle 'table-primary' 'table-secondary' %}">
        <th><a href="{% url 'submissions:detail' pk=submission.pk %}">{{ submission.title }}</a></th>
        <td>{{ submission.description|truncatechars:30 }}</td>
        <td>{{ submission.get_datasource_type_display }}</td>
        <td>{{ submission.get_uploaded_file_basename }}</td>
        <td>{{ submission.created_at }}</td>
        <td>{{ submission.get_status_display }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
