{% extends "base.html" %}

{% block title %}
  Edit Submission Data for {{ submission.title }}
{% endblock title %}

{% block content %}
  <h1>Edit Submission Data for <em>{{ submission.title }}</em></h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Biosample ID</th>
        <th scope="col">Status</th>
        <th scope="col">Last Changed</th>
        <th scope="col">Last Submitted</th>
      </tr>
    </thead>
    <tbody>
      {% for name in object_list %}
        <tr class="{% cycle 'table-primary' 'table-secondary' %}">
          <th><a href="#">{{ name.name|truncatechars:30 }}</a></th>
          <td>{{ name.biosample_id }}</td>
          <td>{{ name.get_status_display }}</td>
          <td>{{ name.last_changed }}</td>
          <td>{{ name.last_submitted }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}

  <p>
    Check my <a href="{% url 'language:species' %}?country={{ submission.gene_bank_country.label }}">Species Translation Table</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'submissions:detail' pk=submission.pk %}" role="button">Back to Submission Detail</a>
    <a class="btn btn-info btn-lg" href="{% url 'submissions:list' %}" role="button">Back to Submissions List</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a>
  </p>

{% endblock content %}
