{% extends "base.html" %}

{% load submissions_filters %}

{% block title %}
  Validation Summary for submission test
{% endblock title %}

{% block content %}

{% if validation_summary %}
  <h1>Validation summary for {{ validation_summary.type }}s</h1>
  <span class="badge badge-pill badge-primary">Pass: {{ validation_summary.pass_count }}</span>
  <span class="badge badge-pill badge-warning">Warnings: {{ validation_summary.warning_count }}</span>
  <span class="badge badge-pill badge-danger">Errors: {{ validation_summary.error_count }}</span>
  <p></p>
  <ul class="list-group">
    {% for message in validation_summary.messages|get_dict_from_str %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
      <span class="badge badge-warning badge-pill align-right">{{ message.count }}</span>
        {{ message.message }}
        <a href="#"><span class="badge badge-success badge-pill align-right">Fix this</span></a>
        <ul>
          {% for id in message.ids %}
          <li>{{ id }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="alert-danger">There are no validation results yet!!!</div>
{% endif %}

{% endblock content %}

{% block custom-js %}
<script>
  $(document).ready(function() {
    var items = document.querySelectorAll('.list-group-item');
    for (var i = 0; i < items.length; i++) {
      if (items[i].textContent.indexOf('Warning') !== -1) {
        items[i].classList.add('list-group-item-warning');
      } else {
        items[i].classList.add('list-group-item-danger');
      }
    }
  });
</script>
{% endblock custom-js %}
