
{% extends "base.html" %}

{% load static %}
{% load validation_tags %}

{% block title %}
  Submission {{ submission.pk }} Confirm Delete
{% endblock title %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/forms.min.css' %}">
{% endblock custom-css %}

{% block content %}

<h1 class="text-center my-4">
  Delete <em>{{ submission.title|truncatechars:30 }}?</em>
</h1>

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>
          <span class="text-warning"><strong>Please read carefully:</strong></span>
          By deleting the current submission, all associated Animals and Samples
          will be deleted. <span class="text-danger"><strong>Deleting data from InjectTool will
          not remove data from BioSamples archives</strong></span> if those
          records have already been submitted, and you will not be able to update
          anymore this records using InjectTool
        </p>

        {# adapted from https://stackoverflow.com/a/39533619/4385116 #}
        {% if info_deleted|length > 0 %}
          <h3>All records below will be deleted:</h3>
          <table class="table table-hover table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">Item</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              {% for model_name, object_count in info_deleted %}
                <tr class="{% cycle 'table-primary' 'table-secondary' %}">
                  <th>{{ model_name|capfirst }}</th>
                  <td>{{ object_count }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <h3>No other items will be deleted with this submission</h3>
        {% endif %}
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <input type="submit" class="btn btn-danger" value="Delete">
          <a href="{% url 'submissions:detail' pk=submission.pk %}" class="btn btn-secondary" role="button">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
