{% extends "base.html" %}

{% block title %}
  Edit Submission Data for {{ submission.title }}
{% endblock title %}

{% block content %}
  <h1>Edit Submission Data for <em>{{ submission.title }}</em></h1>
  <p>
    Check my <a href="{% url 'language:species' %}?country={{ submission.gene_bank_country.label }}">Species Translation Table</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'submissions:detail' pk=submission.pk %}" role="button">Back to Submission Detail</a>
    <a class="btn btn-info btn-lg" href="{% url 'submissions:list' %}" role="button">Back to Submissions List</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a>
  </p>

{% endblock content %}
