
{% extends "base.html" %}

{% load submissions_tags %}

{% block title %}
  Submission {{ submission.pk }}
{% endblock title %}

{% block content %}

<h1>Submission Detail for <em>{{ submission.title }}</em></h1>

<table class="table table-hover table-responsive-md">
  <tbody>
    <tr class="table-primary">
      <th scope="row">Submission Title:</th>
      <td>{{ submission.title }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Description:</th>
      <td>{{ submission.description }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Gene Bank Name:</th>
      <td id="claims">{{ submission.gene_bank_name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Gene Bank Country:</th>
      <td>{{ submission.gene_bank_country }}</td>
    </tr>

    <tr class="table-primary">
      <th scope="row">Organization:</th>
      <td id="claims">{{ submission.organization }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Data Source Type:</th>
      <td>{{ submission.get_datasource_type_display }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Data Source version:</th>
      <td>{{ submission.datasource_version }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Data File:</th>
      <td id="claims"><a href="{{ submission.uploaded_file.url }}">{{ submission.get_uploaded_file_basename }}</a></td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Created at:</th>
      <td>{{ submission.created_at }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Status:</th>
      <td id="status-log">{{ submission.get_status_display }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">N. of Animals</th>
      <td id="validation_message_animals">
        {{ validation_summary.n_animals }}
        {% if validation_summary.n_animal_issues %}
        ({{ validation_summary.n_animal_issues }} with issues in <a href="validation_summary/animals/" target="_blank">validation</a>)
        {% endif %}
        {% if validation_summary.n_animal_unknown %}
        ({{ validation_summary.n_animal_unknown }} with unknown validation)
        {% endif %}
      </td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">N. of Samples</th>
      <td id="validation_message_samples">
        {{ validation_summary.n_samples }}
        {% if validation_summary.n_sample_issues %}
        ({{ validation_summary.n_sample_issues }} with issues in <a href="validation_summary/samples/" target="_blank">validation</a>)
        {% endif %}
        {% if validation_summary.n_sample_unknown %}
        ({{ validation_summary.n_sample_unknown }} with unknown validation)
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>

{# call a custom templatetag and send result into a variable #}
{% can_edit submission as edit %}
{% can_validate submission as validate %}
{% can_submit submission as submit %}
{# TODO: a new templatetag for updating/deleting submission #}

<div class="container mt-3">
  <div class="row">
    {# disabling a button if waiting variable is set to true #}
    <div class="col-md-4 mt-2 text-center"><a class="btn btn-primary btn-lg btn-block {% if not edit %}disabled{% endif %}" href="{% url 'submissions:edit' pk=submission.pk %}" role="button" id="edit-data">Edit data</a></div>
    <div class="col-md-4 mt-2 text-center"><a class="btn btn-warning btn-lg btn-block {% if not validate %}disabled{% endif %}" href="javascript:{document.getElementById('validate').submit()}" role="button" id="validate-button">Validate</a></div>
    <div class="col-md-4 mt-2 text-center"><a class="btn btn-success btn-lg btn-block {% if not submit %}disabled{% endif %}" href="javascript:{document.getElementById('submit').submit()}" role="button" id="submit-button">Submit</a></div>
  </div>
  <div class="row">
    <div class="col-md-4 mt-2 text-center"><a class="btn btn-info btn-lg btn-block" href="{% url 'submissions:list' %}" role="button">Submissions List</a></div>
    <div class="col-md-4 mt-2 text-center"><a class="btn btn-secondary btn-lg btn-block" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a></div>
    {# TODO: disable button if necessary #}
    <div class="col-md-4 mt-2 text-center btn-group">
      <button type="button" class="btn btn-danger btn-lg btn-block dropdown-toggle {% if not edit %}disabled{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="danger-zone">Danger Zone</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'submissions:reload' pk=submission.pk %}">Reload datasource</a>
        <a class="dropdown-item" href="#">Update submission</a>
        <a class="dropdown-item" href="{% url 'submissions:delete' pk=submission.pk %}">Delete submission</a>
      </div>
    </div>
  </div>
</div>

<form id='validate' action="{% url 'validation:validate' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="submission_id" value="{{ submission.pk }}">
</form>

<form id='submit' action="{% url 'biosample:submit' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="submission_id" value="{{ submission.pk }}">
</form>

{% endblock content %}

{% block custom-js %}
<script>
  $(document).ready(function() {
    function getColor(current_status) {
    var color_class;
    if (current_status === 'Loaded' || current_status === 'Waiting' || current_status == 'Submitted') {
      color_class = "text-info font-weight-bold"
    } else if (current_status === 'Error') {
      color_class = "text-danger font-weight-bold"
    } else if (current_status === 'Ready' || current_status === 'Completed') {
      color_class = "text-success font-weight-bold"
    } else if (current_status === 'Need Revision') {
      color_class = "text-warning font-weight-bold"
    }
    return color_class
  }

  function disableButtons(current_status) {
    var edit_data = document.querySelector('#edit-data');
    var danger_zone = document.querySelector('#danger-zone');
    var validate_button = document.querySelector('#validate-button');
    var submit_button = document.querySelector('#submit-button');
    if (current_status === 'Waiting' || current_status === 'Submitted') {
      edit_data.classList.add('disabled');
      danger_zone.classList.add('disabled');
    }
    if (current_status === 'Error' || current_status === 'Waiting' || current_status === 'Submitted' || current_status === 'Completed') {
      validate_button.classList.add('disabled');
    }
    if (current_status !== 'Ready') {
      submit_button.classList.add('disabled');
    } else {
      submit_button.classList.remove('disabled');
      remove_disabled(edit_data);
      remove_disabled(danger_zone);
      remove_disabled(validate_button);
    }

    if (current_status === 'Loaded' || current_status === 'Need Revision') {
      remove_disabled(edit_data);
      remove_disabled(danger_zone);
      remove_disabled(validate_button);
    }

    if (current_status === 'Completed') {
      remove_disabled(edit_data);
      remove_disabled(danger_zone);
    }
  }

  function remove_disabled(button) {
    if (button.classList.contains('disabled')) {
      button.classList.remove('disabled');
    }
  }

  function choose_div_class(message) {
      if (message === 'Waiting' || message === 'Submitted') {
        return 'alert alert-dismissible alert-warning';
      } else if (message === 'Error' || message === 'Need Revision') {
        return 'alert alert-dismissible alert-danger';
      } else {
        return 'alert alert-dismissible alert-info';
      }
  }

  function construct_validation_message(modelType, message, unknown, issues) {
      modelLink = `validation_summary/${modelType}/`;
      if (unknown !== 0 && issues !== 0) {
      message += ` (${issues} with issues in <a href=${modelLink} target='_blank'>validation</a>; ${unknown} with unknown validation)`;
    } else if (unknown !== 0 && issues === 0) {
      message += ` (${unknown} with unknown validation)`;
    } else if (unknown === 0 && issues !== 0) {
      message += ` (${issues} with issues in <a href=${modelLink} target='_blank'>validation</a>)`;
    }
      return message;
  }

  var submissionId = {{ submission.pk }};

  // try to choose the correct protocol, in order to solve the Mixed Content
  // error when accessing WebSocket server hosted in a different port
  // https://stackoverflow.com/a/10418013/4385116
  var loc = window.location, new_uri;

  // check where request come from (which protocol)
  if (loc.protocol === 'https:') {
     new_uri = 'wss:';
  } else {
     new_uri = 'ws:';
  }

  // append other elements to the constructed uri
  new_uri += '//' + loc.host + '/image/ws/submissions/' + submissionId + '/';
  console.log(new_uri);

  // open the connection through WebSocket
  var chatSocket = new WebSocket(new_uri);

  chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    var notificationMessage = data['notification_message'];

    var animalsMessage = data['validation_message']['animals'];
    var samplesMessage = data['validation_message']['samples'];
    var animalsUnknown = data['validation_message']['animal_unkn'];
    var samplesUnknown = data['validation_message']['sample_unkn'];
    var animalsIssues = data['validation_message']['animal_issues'];
    var samplesIssues = data['validation_message']['sample_issues'];

    document.querySelector('#status-log').textContent = message;
    document.querySelector('#status-log').className = getColor(message);
    document.querySelector('#validation_message_animals').innerHTML = construct_validation_message('animals', animalsMessage, animalsUnknown, animalsIssues);
    document.querySelector('#validation_message_samples').innerHTML = construct_validation_message('samples', samplesMessage, samplesUnknown, samplesIssues);
    disableButtons(message);
    var notificationDiv = document.querySelector('#notifications');
    notificationDiv.childNodes[2].textContent = notificationMessage;
    notificationDiv.className = choose_div_class(message);
  };

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };

  current_status = document.querySelector('#status-log').textContent;
  document.querySelector('#status-log').className = getColor(current_status);
  });
</script>
{% endblock custom-js %}
