{% extends "base.html" %}

{% load submissions_filters %}

{% block title %}
  Fix validation errors
{% endblock title %}

{% block content %}
    <h1>{{ message }}</h1>
    <div class="alert alert-success" role="alert">
        <h3>
            <a href="https://github.com/cnr-ibba/IMAGE-metadata/blob/master/docs/image_sample_metadata.md">IMAGE metadata specification</a>
        </h3>
    </div>
    <form action="{% url 'submissions:fix_validation' submission.id type error_type %}" method="post">
        {% csrf_token %}
        {% for object in  object_list %}
            <hr>
            <h3>{{ object.name.name }}</h3>
            <br>
            <h6>Provided values:</h6>
            <ul class="list-group">
                {% for show in attributes_to_show %}
                    <li class="list-group-item list-group-item-info">{{ show|convert_to_human_readable:type }}: {{ object|getattribute:show }}</li>
                {% endfor %}
            </ul>
            <br>
            <h6>Provide value to fix validation:</h6>
            <ul class="list-group">
                {% for show in attributes_to_edit %}
                    <li class="list-group-item list-group-item-warning d-flex justify-content-between align-items-center">
                        <div class="from-group form-inline">
                            <label for="{{ object.id|create_unique_id:'to_edit' }}">{{ show|convert_to_human_readable:type }}:</label>
                            <input type="text" class="form-control" id="{{ object.id|create_unique_id:'to_edit' }}" value="{{ object|getattribute:show }}" name="{{ object.id|create_unique_id:'to_edit' }}">
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <br>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update all records</button>
        </div>
    </form>
{% endblock content %}