{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
  <h1>Your registration is almost done</h1>
  <p>
    Your InjectTool account is now activated. Now you need to add an
    <a href="https://aai.ebi.ac.uk/home" target="_blank">AAP profile</a> in order to submit
    data to BioSamples. The AAP profile is a service provided by EMBL-EBI that manage
    identities and authorizations in order to submit data to EMBL-EBI archives. This
    service is managed by EMBL-EBI and InjectTool will manage and submit your data
    on your behalf.
    You can provide an existing AAP account or generate a new one using
    InjectTool. If you don't know what to choose, please select <em>Generate a new AAP account</em>
    button below.
  </p>
  <p>
    Please note that we don't store any 3rd party passwords inside IMAGE-InjecTool system,
    those data will be managed by EMBL-EBI. Please keep track of your AAP credentials:
    <span class="text-danger">InjectTool is not able to modify an AAP profile,
    if you lost your AAP credentials you will need to
    <a href="mailto:aap@ebi.ac.uk">contact EBI</a>.</span>
  </p>

  <div class="row justify-content-around">
    <a class="btn btn-primary btn-lg" href="{% url 'biosample:create' %}" role="button">Generate a new AAP profile</a>
    <a class="btn btn-info btn-lg" href="{% url 'biosample:register' %}" role="button">Add an existing AAP profile</a>
  </div>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
