{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
  <p>
      <h1>Your registration is almost done</h1>
      Your account is now activated. Now you need to provide an existing <a href="https://explore.aai.ebi.ac.uk/home">AAP account</a>
      or generate a new one. <strong>Please note that we don't store any EBI password inside IMAGE-InjecTool system!</strong>
  </p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="{% url 'biosample:register' %}" role="button">Add an existing account</a>
    <a class="btn btn-primary btn-lg" href="{% url 'biosample:create' %}" role="button">Generate a new account</a>
  </p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
