{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation email sent" %}{% endblock %}

{% block content %}
  <p>
    A confirmation email has been sent to the email used for registration. Please click the link contained in the confirmation email to finalize the InjectTool registration process. If you do not receive the email within 15 minutes, please check your spam folder just in case or click the resend button.
  </p>
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="{% url 'accounts:registration_resend_activation' %}" role="button">Resend</a>
  </p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
