
{% extends "base.html" %}

{% block title %}
  Animal {{ animal.pk }}
{% endblock title %}

{% block content %}

<h1>Detail for <em>Animal {{ animal.pk }}</em></h1>

<table class="table table-hover table-responsive-sm">
  <tbody>
    <tr class="table-primary">
      <th scope="row">Data source ID:</th>
      <td>{{ animal.data_source_id }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Alternative id:</th>
      <td>{{ animal.alternative_id }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Description:</th>
      <td>{{ animal.description }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Project:</th>
      <td>IMAGE</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Submission title:</th>
      <td>{{ animal.submission.title }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Submission description:</th>
      <td>{{ animal.submission.description }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Person last name:</th>
      <td>{{ animal.owner.last_name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Person initial:</th>
      <td>{{ animal.person.initials }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Person first name:</th>
      <td>{{ animal.owner.first_name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Person email:</th>
      <td>{{ animal.owner.email }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Person affiliation:</th>
      <td>{{ animal.person.affiliation.name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Person role:</th>
      <td>{{ animal.person.role }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Organization name:</th>
      <td>{{ animal.organization.name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Organization address:</th>
      <td>{{ animal.organization.address }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Organization uri:</th>
      <td>{{ animal.organization.URI }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Organization country:</th>
      <td>{{ animal.organization.country }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Organization role:</th>
      <td>{{ animal.organization.role }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Publication DOI:</th>
      <td>{{ animal.name.publication.doi }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Gene bank name:</th>
      <td>{{ animal.gene_bank_name }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Gene bank country:</th>
      <td>{{ animal.gene_bank_country }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Data source type:</th>
      <td>{{ animal.submission.get_datasource_type_display }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Data source version:</th>
      <td>{{ animal.submission.datasource_version }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Species:</th>
      <td>{{ animal.specie }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Material:</th>
      <td>Organism</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Child of:</th>
      <td></td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Supplied breed:</th>
      <td>{{ animal.breed.supplied_breed }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">EFABIS Breed country:</th>
      <td>{{ animal.breed.country }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Mapped breed:</th>
      <td>{{ animal.breed.mapped_breed }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Sex:</th>
      <td>{{ animal.sex }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Birth date:</th>
      <td>{{ animal.birth_date }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Birth location:</th>
      <td>{{ animal.birth_location }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Birth location longitude:</th>
      <td>{{ animal.birth_location_longitude }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Birth location latitude:</th>
      <td>{{ animal.birth_location_latitude }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Birth location accuracy:</th>
      <td>{{ animal.get_birth_location_accuracy_display }}</td>
    </tr>
  </tbody>
</table>

<div class="container mt-3">
  <div class="row">
    {# disabling a button if waiting variable is set to true #}
    <div class="col-lg-3 col-md-12 mt-2 lead text-center"><a class="btn btn-primary btn-lg btn-block" href="{% url 'animals:list' %}" role="button">Back to Animal list</a></div>
    <div class="col-lg-3 col-md-4 mt-2 lead text-center"><a class="btn btn-secondary btn-lg btn-block" href="{% url 'submissions:detail' pk=animal.submission.pk %}" role="button">Back to Submission</a></div>
    <div class="col-lg-3 col-md-4 mt-2 lead text-center"><a class="btn btn-warning btn-lg btn-block {% if not animal.can_edit %}disabled{% endif %}" href="{% url 'animals:update' pk=animal.pk %}" role="button">Edit Animal</a></div>
    <div class="col-lg-3 col-md-4 mt-2 lead text-center"><a class="btn btn-danger btn-lg btn-block  {% if not animal.can_delete %}disabled{% endif %}" href="{% url 'animals:delete' pk=animal.pk %}" role="button">Delete Animal</a></div>
  </div>
</div>

{% endblock content %}
