
{% extends "base.html" %}

{% load static %}

{% block title %}
  Animal {{ animal.pk }} Update
{% endblock title %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock custom-css %}

{% block content %}

<h1 class="text-center logo my-4">
  Update <em>Animal {{ animal.pk }}</em>
</h1>

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {# https://simpleisbetterthancomplex.com/series/2017/09/18/a-complete-beginners-guide-to-django-part-3.html#reusable-forms-templates #}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Update Animal</button>
            <a href="javascript:{goBack()}" class="btn btn-secondary" role="button">Back</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block custom-js %}
<script>
  // back to previous page https://www.w3schools.com/jsref/met_his_back.asp
  function goBack() {
    console.log(document.referrer);
    window.history.back();
  }
</script>
{% endblock %}
