
{% load uid_tags widget_tweaks %}

{# render form group #}
<div class="form-group">
  {# render label #}
  {% if field.field.required %}
    <label for="{{ field.auto_id }}" class="required">{{ field.label }}</label>
  {% else %}
    {{ field.label_tag }}
  {% endif %}

  {# render field #}
  {% render_field field class=field|input_class %}

  {# Render errors and help text #}
  {% for error in field.errors %}
  <div class="invalid-feedback">
    {{ error }}
  </div>
  {% endfor %}

  {% if field.help_text %}
  <small class="form-text text-muted">
    {{ field.help_text|safe }}
  </small>
  {% endif %}

{# close form-group #}
</div>
