
{% load uid_tags widget_tweaks %}

<div class="form-check">
  {% if field.errors %}
    {% render_field field class="form-check-input is-invalid" %}
  {% else %}
    {% render_field field class="form-check-input" %}
  {% endif %}

  {# render label #}
  {% if field.field.required %}
    <label for="{{ field.id_for_label }}" class="form-check-label required">{{ field.label }}</label>
  {% else %}
    <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
  {% endif %}


  {% if field.help_text %}
  <small class="form-text text-muted">
    {{ field.help_text|safe }}
  </small>
  {% endif %}

</div>
