@font-face {
  font-family: "Peralta";
  font-style: "normal";
  font-weight: 400;
  src: url("../fonts/Peralta-Regular.ttf") format("truetype"), local("Peralta");
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 3.75rem;
}

.navbar-brand {
  font-family: "Peralta", cursive;
}

h1 {
  font-family: "Peralta", cursive;
}

h1 a:hover, h1 a:active {
  /* this means that a link under a h1 will never be underlined on
         mouse hover event */
  text-decoration: none;
  color: #2FA4E7;
}

p, li {
  /* equal to assign class="text-justify" */
  /* !important will override others text-align attributes, for example from parents*/
  text-align: justify !important;
}

code {
  font-size: 80%;
}

pre {
  background-color: #e9ecef !important;
}

/* fixed-page-header-overlaps-in-page-anchors
   https://stackoverflow.com/a/28824157/4385116 */
:target::before {
  content: "";
  display: block;
  /* fixed header height*/
  height: 4rem;
  /* negative fixed header height */
  margin: -4rem 0 0;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3.75rem;
  /* Vertically center the text there */
  line-height: 3.75rem;
  background-color: #e9ecef;
}

.footer > .container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.back-to-top {
  position: fixed;
  bottom: 3.75rem;
  right: 25px;
  display: none;
}
