
@font-face {
  font-family: 'Peralta';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Peralta-Regular.ttf')  format("truetype"),
       local('Peralta'), local('Peralta-Regular');
}

.navbar-brand {
  font-family: 'Peralta', cursive;
}

p {
  /* equal to assign class="text-justify" */
  text-align: justify !important;
}

/* fixed-page-header-overlaps-in-page-anchors
   https://stackoverflow.com/a/28824157/4385116 */
:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}
