{% extends 'base.html' %}
{% load i18n %}

{% block title_block %}Logger Out{% endblock title_block %}

{% block body_content %}

<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

{# Check how translations works on django-templates #}
<p class="lead">
  <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">{% trans 'Log in again' %}</a>
  <a class="btn btn-info btn-lg" href="{% url 'index' %}" role="button">Back to Home</a>
</p>

{% endblock body_content %}
