{% extends 'base.html' %}

{% load static %}

{% block title_block %}Change password{% endblock title_block %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock custom-css %}

{# {% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %} #}

{% block body_content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>
  </div>
{% endblock body_content %}
