{% extends 'base.html' %}

{% load static %}

{% block title_block %}Change password{% endblock title_block %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock custom-css %}

{# {% block breadcrumb %}
  <li class="breadcrumb-item active">Change password</li>
{% endblock %} #}

{% block content %}
  <div class="container">
    <h1 class="text-center logo my-4">
      Change Your Password
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
          <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success">Change password</button>
              <a href="{% url 'image_app:dashboard' %}" class="btn btn-secondary" role="button">Return to dashboard</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
