{% extends "base.html" %}

{% load static %}

{% block title %}
  Update User Profile
{% endblock title %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock custom-css %}

{% block content %}

<div class="container">
  <h1 class="text-center logo my-4">
    Update Your Personal Information
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Save changes</button>
            <a href="{% url 'image_app:dashboard' %}" class="btn btn-secondary" role="button">Return to dashboard</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
