{% extends "base.html" %}

{% load image_app_tags %}

{% block title %}About IMAGE-InjectTool{% endblock title %}

{% block content %}
  <h1>About IMAGE-InjectTool</h1>

  <section>
    <h2>Introduction</h2>

    <p>
      One key challenge of that <a href="http://www.imageh2020.eu/">IMAGE</a> addresses
      is the integration and transparent use of the vast information stored within
      more than 60 gene banks/genetic collections spanning 20 European countries,
      together with the collection of newly generated data. Information to be collected
      and integrated through the IMAGE portal is currently stored in each
      individual's local databases at gene banks, research institutions, breeding
      companies etc. which utilizes a wide range of systems : from simple excel
      files to large national well-structured databases.
    </p>
    <p>
      <a href="https://www.ncbi.nlm.nih.gov/pubmed/21364801/">Cryoweb</a>
      is a web-based software for the documentation and storage of gene bank data.
      Currently, the majority of National gene banks are using Cryoweb to manage
      their information. In France, the <a href="https://www.crb-anim.fr/">CRB-Anim</a>
      database collects and stores information for reproductive and genomic material
      of domestic animals (mammals, birds, fishes and shellfishes) in the country.
      Other countries have developed relational databases to manage their collections.
      Using InjectTool, data derived from different sources can be standardized and
      validated against <a href="https://github.com/cnr-ibba/IMAGE-metadata">IMAGE-metadata</a>
      standards and finally submitted to <a href="https://www.ebi.ac.uk/biosamples/">EBI BioSamples</a>,
      which has been chosen as the reference archive for all IMAGE data.
    </p>
    <p class="lead text-primary text-justify">
      <strong>
        The IMAGE-InjectTool is a tool which makes it easier to
        archive data into BioSamples from the user point of view.
      </strong>
    </p>

  </section>

  <section>
    <h2>Methods</h2>

    <p>
      The Inject Tool has been developed to help gene bank/genomic collections
      managers to enhance, standardise, tag and submit their gene bank data to a
      <a href="https://www.wp5image.eu/">Common Data Pool</a> that integrates all
      gene bank records from across Europe. The Inject tool uses a well-defined
      metadata ruleset ensuring high quality and comparable data across the diverse
      collections originating in different storage formats and languages.
    </p>
    <p>
      The system relies on a <a href="https://docs.docker.com/compose/">docker-compose</a>
      instance of some custom <a href="https://www.docker.com/">docker</a> images:
      the user will interact on a web application rendered using
      <a href="https://www.nginx.com/">Nginx</a>, while
      on the backend a <a href="https://www.postgresql.org/">PostgreSQL</a> instance
      stores user data and a <a href="https://www.djangoproject.com/">Django</a>
      image renders pages in HTML using <a href="https://getbootstrap.com/">Bootstrap 4</a>
      in order to display data and proving forms able to do data manipulation. A
      <a href="http://www.celeryproject.org/">Celery</a> and a
      <a href="https://redis.io/">Redis</a> instances perform long tasks such as
      the data validation process, data submissions to biosample and monitoring of
      biosample submission statuses.
    </p>
    <p>
      No user intervention is required to validate/submit data through InjectTool,
      however a manual revision is required if the validation process fails
      against <a href="https://github.com/cnr-ibba/IMAGE-metadata">IMAGE-metadata</a>
      standards. 
      User will be able to upload data from their Cryoweb dump files or
      excel spreadsheet defined in the metadata rules context.
      The project is mainly written in <a href="https://www.python.org/downloads/">Python 3</a>
      using the <a href="http://www.obeythetestinggoat.com/">test-driven</a> approach. A live version of the system is available
      at <a href="{% url 'index' %}">{% absolute_url '/image/' %}</a> while
      the code is available <a href="https://github.com/cnr-ibba/IMAGE-InjectTool">here</a>
    </p>

  </section>

  <section id="injecttool_test_site">
    <h2>InjectTool test site</h2>

    <p>
      This site is currently in testing phase. We currently submit data to
      <a href="https://wwwdev.ebi.ac.uk/biosamples/">BioSamples test server</a>.
      Therefore data submitted through InjectTool will be deleted from BioSamples
      test servers every week. We are doing our best to shorten the test period
      while making the system as reliable as possible. We welcome any
      feedback/comment/suggestion which can be submitted by
      <a target="_blank" href="https://github.com/cnr-ibba/IMAGE-InjectTool/issues/new/choose">opening a new issue</a>
      to make Inject tool better.
    </p>

  </section>


  <div class="row justify-content-around">
    <a class="btn btn-info btn-lg" href="{% url 'index' %}" role="button">Back to Home</a>
    <a class="btn btn-primary btn-lg" href="{% url 'about-uploading' %}" role="button">Submitting data to BioSamples</a>
  </div>


{% endblock content %}
