{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% else %}
<p><strong>Sampletab file header requirements<br></strong></p><br>

Some information is necessary to create the Sampletab file's header.<br>
Tables and forms to add, update or visualize these data are accessible clicking on the following links:

<ol>
    <li><a target=_blank href="../../../image/admin/image_app/submission/">
        <u>Submission data</u>:</a> <img src='../../{{ submissions }}' >
        {% if submissions_warning %}
        &nbsp;{{ submissions_warning }}
        {% endif %}
    </li>
    <li><a target=_blank href="../../../image/admin/image_app/person/">
        <u>Person data</u>:</a> <img src='../../{{ persons }}' ></li>
    <li><a target=_blank href="../../../image/admin/image_app/organization/">
        <u>Organization data</u>:</a> <img src='../../{{ organizations }}' ></li>
    <li><a target=_blank href="../../../image/admin/image_app/publication/">
        <u>Publication data (optional)</u>:</a> <img src='../../{{ publications }}' ></li>
    <li><a target=_blank href="../../../image/admin/image_app/database/">
        <u>External database data (optional)</u>:</a> <img src='../../{{ databases }}' ></li>
    <li><a target=_blank href="{% url 'admin:image_app_ontology_changelist' %}">
        <u>Ontology</u>:</a> <img src='../../{{ ontologies }}' ></li>
</ol>
<br>

<p><input type="button" value="Check again..." onclick="window.location.reload()">
{% if check_passed %}
    <a href="../../../image/image_app/sampletab1/">
        <p><u>Create the Sampletab file</u></a> <br>
    (this is still a prototype version: the file's header is still missing, and the file would not be accepted by Biosamples).
{% else %}
    <p>Some required information is missing; please check all the requirements indicated by a <img src='../../static/admin/img/icon-no.svg' > icon above.</p>
{% endif %}
<!--<form name="myFormaggio" id="myFormaggio" method=post action={% url 'image_app:sampletab2' %}>-->
<!--{% csrf_token %}-->

<!--Hello {{ username }}, clicking on the following button<br>-->
    <!--you will create an updated sampletab file.-->
<!--<br><br>-->

<!--<input id='createfile' type="submit" value="Ok">-->
<!--</form>-->

{% endif %}

{% endblock %}
