{% extends "base.html" %}

{% block title %}
  Dashboard
{% endblock title %}

{% block content %}

  <h1>Welcome {{ user.first_name|capfirst }}!</h1>

  <div class="card-deck pt-5">

    <div class="card border-primary mb-3" style="">
      <div class="card-header">Submit</div>
      <div class="card-body">
        <h4 class="card-title">Create New Submission</h4>
        <p class="card-text">Upload your data into Inject-Tool database and start a new submission!</p>
        <p class="lead text-center">
          <a class="btn btn-primary btn-lg" href="{% url 'image_app:submission-new' %}" role="button">Create</a>
        </p>
      </div>
    </div> <!-- card submit -->

    <div class="card border-secondary mb-3" style="">
      <div class="card-header">Resume</div>
      <div class="card-body">
        <h4 class="card-title">Resume Your Submissions</h4>
        <p class="card-text">Fix errors an validate your data in order to countinue submission</p>
        <p class="lead text-center">
          <a class="btn btn-secondary btn-lg disabled" href="#" role="button">Resume</a>
        </p>
      </div>
    </div>
    <div class="card border-info mb-3" style="">
      <div class="card-header">
        Summary
      </div>
      <div class="card-body">
        <h4 class="card-title">Data status Summary</h4>
        <p class="card-text">Get information about your data and submissions</p>
        <p class="lead text-center">
          <a class="btn btn-info btn-lg" href="{% url 'image_app:summary' %}" role="button">Info</a>
        </p>
         <!-- <ul class="card-text">
          <li>You have {{datasource_count}} data sources loaded
            ({{datasource_uploaded}} uploaded into UID)</li>
          <li>
            {% if cryoweb_hasdata %}
              You have data in cryoweb staging area
            {% else %}
              Your cryoweb staging area is empty
            {% endif %}
          </li>
          <li>You have {{uid_report.n_of_animals}} animal loaded into UID</li>
          <li>You have {{uid_report.n_of_samples}} samples loaded into UID</li>
          <li>You have {{uid_report.breeds_without_ontology}} breeds without ontologies</li>
          <li>You have {{uid_report.countries_without_ontology}} countries without ontologies</li>
          <li>You have {{uid_report.species_without_ontology}} species without ontologies</li>
        </ul>
        -->
      </div>
    </div>
  </div> <!-- card-deck -->


{% endblock %}
