{% extends "base.html" %}

{% block title %}
  Cryoweb Import
{% endblock title %}

{% block content %}

{% if error %}
  <p><strong>{{ error }}</strong></p>
{% else %}

  <p>Cryoweb data imported into image database for user {{ username }} (step 2)</p>

  <ul>
    {% for k, v in loaded.items %}
      <li>{{v}} new {{ k }}{{ v|pluralize }} added </li>
    {% endfor %}
  </ul>

{% endif %}

{% if has_warnings is True %}
  The following issues were found:
  <ol>
    {% for key, value in warnings.items %}
      <li> {{ key }}:
        <ul>
          {% for el in value %}
            <li>{{el}}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ol>
{% endif%}

<p class="lead">
  <a class="btn btn-primary btn-lg" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a>
</p>

{% endblock content %}
