{% extends "base.html" %}

{% block title_block %}
  Welcome to IMAGE-InjectTool!
{% endblock %}

{% block body_content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the IMAGE InjectTool!</h1>
    <p class="lead">Help users to upload data into Biosample</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="lead">
      <a class="btn btn-info btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
      <a class="btn btn-primary btn-lg" href="{% url 'image_app:dashboard' %}" role="button">Dashboard</a>
    </p>
  </div>
{% endblock body_content %}
