{% extends "base.html" %}

{% block title %}
  Welcome to IMAGE-InjectTool!
{% endblock title %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the IMAGE Inject Tool!</h1>
    <p class="lead">Help users to upload Genebank data into BioSamples</p>
    <hr class="my-4">
    <p>InjectTool is developed to help gene bank managers to enhance, standardise, tag and submit their gene bank data to EBI BioSamples, that integrates all gene bank records from across Europe. The interface guides users throughout submission and allow standardization of data following an agreed rule set</p>
    <p class="lead">
      <a class="btn btn-info btn-lg" href="{% url 'about' %}" role="button">Learn more</a>
      <a class="btn btn-primary btn-lg" href="{% url 'image_app:dashboard' %}" role="button">Dashboard</a>
    </p>
  </div>
{% endblock content %}
