{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% else %}

<form name="myFormaggio" id="myFormaggio" method=post action={% url 'image_app:sampletab2' %}>
{% csrf_token %}

Hello {{ username }}, clicking on the following button<br>
    you will create an updated sampletab file.
<br><br>

<input id='createfile' type="submit" value="Ok">
</form>

{% endif %}

{% endblock %}