
{% extends "base.html" %}

{% block title %}
  Submission {{ submission.pk }}
{% endblock title %}

{% block content %}
  <ul>
    <li>{{ submission.title }}</li>
    <li>{{ submission.description }}</li>
    <li>{{ submission.gene_bank_name }}</li>
    <li>{{ submission.gene_bank_country }}</li>
    <li>{{ submission.get_datasource_type_display }}</li>
    <li>{{ submission.datasource_version }}</li>
    <li>{{ submission.uploaded_file }}</li>
    <li>{{ submission.loaded }}</li>
  </ul>
{% endblock %}
