
{% extends "base.html" %}

{% load staticfiles %}

{% load image_app_tags %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" />
{% endblock custom-css %}

{% block title %}Uploading data into BioSamples{% endblock title %}

{% block content %}

  <h1>Uploading data into BioSamples</h1>

  <p>The following steps illustrate the procedure to input a dataset into the BioSamples archive, thus subsequently making it available on the IMAGE data portal</p>

  <section>
    <h2>Signing Up and registering to EBI AAP</h2>

    <p>Click on <a href="{% url 'accounts:registration_register' %}">Sign-Up</a>
      in the right-upper corner of InjectTool site and
      start to sign up with InjectTool. In the form, you have to provide a valid email address and
      select your organization from the provided list. If you don't find
      your organization, you need to <a href="mailto:{% get_admin_email %}?subject=feedback">contact</a> InjectTool developers.</p>

    <div class="row align-items-center">
      <img class="img-thumbnail mx-auto float-left" src="{% static 'images/01-signup.png' %}" alt="Sign-Up">
      <img href="{% static 'images/02-signup.png' %}" data-fancybox data-caption="Sign up in InjectTool" class="img-thumbnail mx-auto float-right" src="{% static 'images/02-signup-thumbnail.png' %}" alt="Sign-Up-Form">
    </div>

    <p class="my-3">After registration is complete, you will receive an email to
    the address used for registration. Click on the activation link, in order to
    complete InjectTool registration.  Now you will require an
    <a href="https://explore.aai.ebi.ac.uk/home" target="_blank">EBI AAP profile</a>
    in order to submit your data into BioSamples.
    Please note that we can't store your AAP credentials on our site, you need
    to keep record of AAP credentials, otherwise you will not be able to submit
    your data to BioSamples. Please note also that this site is in beta stage,
    so this registration will be done on Biosample tests servers. Click on
    <em>Generate a new AAP profile button</em> a fill out the form by providing
    a strong password to create a new EBI AAP profile:</p>

    <div class="row align-items-center">
      <img href="{% static 'images/03-create_aap.png' %}" data-fancybox data-caption="Press generate a new AAP profile button" class="img-thumbnail mx-auto float-left w-25" src="{% static 'images/03-create_aap.png' %}" alt="Generate a new AAP profile">
      <img href="{% static 'images/04-aap-profile.png' %}" data-fancybox data-caption="Fill form and generate a new AAP profile" class="img-thumbnail mx-auto float-right" src="{% static 'images/04-aap-profile-thumbnail.png' %}" alt="Generate a new AAP profile Form">
    </div>

    <p class="my-3">If the registration is successful, you will be able to generate
      a new AAP token. This token is stored in your browser session and will be used to perform
      BioSamples submission. The token will be valid for one hour. When submitting
      data to BioSamples, InjectTool will check token validity and will ask
      the user to generate a new token if necessary. You can check your token
      status by cliking on <a href="{% url 'biosample:token' %}">My Token</a> on
      your username dropdown list in the right upper side of the page
    </p>

    <div class="row align-items-center">
      <img href="{% static 'images/05-token-generated.png' %}" data-fancybox data-caption="Get token info" class="img-thumbnail mx-auto float-left" src="{% static 'images/05-token-generated-thumbnail.png' %}" alt="Get token info">
    </div>

  </section>

  <section>
    <h2 class="mt-3">Preparing a new submission</h2>

    <p>
      Before starting a new submission with InjectTool, you need to prepare data to upload. Currently,
      InjectTool support data files from <a href="#cryoweb_dump">Cryoweb</a> and <a href="#crbanim_dump">CRB-Anim</a>. The <a href="#template_file">Template</a> data upload will be implemented in a later stage
    </p>

    <h3><a class="anchor" id="cryoweb_dump"></a>Creating a cryoweb dump</h3>

    <p>
      Cryoweb data need to be imported as <em>data-only</em> dumps, as described from
      Postgres pgdump <a href="https://www.postgresql.org/docs/9.6/app-pgdump.html">documentation</a>.
      First of all, search for cryoweb database. You can login to postgres database
      and then get database list with <code>\l</code> command, as in the following example:
    </p>

    <pre class="bg-secondary">
# psql -U postgres -h localhost
psql (9.1.24)
SSL connection (cipher: DHE-RSA-AES256-GCM-SHA384, bits: 256)
Type "help" for help.

postgres=# \l
                                   List of databases
   Name    |    Owner    | Encoding |   Collate   |    Ctype    |   Access privileges
-----------+-------------+----------+-------------+-------------+-----------------------
 cryo1     | apiis_admin | UTF8     | en_US.UTF-8 | en_US.UTF-8 |
 postgres  | postgres    | UTF8     | en_US.UTF-8 | en_US.UTF-8 |
 template0 | postgres    | UTF8     | en_US.UTF-8 | en_US.UTF-8 | =c/postgres          +
           |             |          |             |             | postgres=CTc/postgres
 template1 | postgres    | UTF8     | en_US.UTF-8 | en_US.UTF-8 | =c/postgres          +
           |             |          |             |             | postgres=CTc/postgres
(4 rows)

    </pre>

    <p>
      <code>cryo1</code>, owned by <code>apiis_admin</code>, is the target database we need to dump.
      Other databases are system databases. Next, make a <em>data-only</em>
      dump using the <code>--data-only</code> parameter for the <code>apiis_admin</code>
      schema, as in the following example:
    </p>

    <pre class="bg-secondary">
# pg_dump -U apiis_admin -h localhost --encoding=UTF8 --column-inserts --data-only --schema apiis_admin cryo1 > cryoweb_data_only_dump.sql
    </pre>

    <p>
      <code>cryoweb_data_only_dump.sql</code> will be a plain text-file in <code>UTF8</code> encoding
      we need in order to create a new submission from Cryoweb data. Those are the first line of such
      <em>data-only</em> dump:
    </p>

    <pre class="bg-secondary pre-scrollable">
--
-- PostgreSQL database dump
--

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET client_min_messages = warning;

SET search_path = apiis_admin, pg_catalog;

--
-- Data for Name: animal; Type: TABLE DATA; Schema: apiis_admin; Owner: apiis_admin
--

INSERT INTO animal (db_animal, db_sire, db_dam, db_sex, db_breed, db_species, birth_dt, birth_year, latitude, longitude, image_id, db_org, la_rep, la_rep_dt, last_change_dt, last_change_user, dirty, chk_lvl, guid, owner, version, synch, db_hybrid, comment, file_id) VALUES (851, 816, 2, 118, 2022, 366, NULL, '1999', NULL, NULL, NULL, 144, NULL, NULL, '2010-03-26 12:12:02', 'vsa', NULL, NULL, 12389, 'Italy', 2, NULL, NULL, NULL, NULL);
INSERT INTO animal (db_animal, db_sire, db_dam, db_sex, db_breed, db_species, birth_dt, birth_year, latitude, longitude, image_id, db_org, la_rep, la_rep_dt, last_change_dt, last_change_user, dirty, chk_lvl, guid, owner, version, synch, db_hybrid, comment, file_id) VALUES (852, 1, 2, 118, 2022, 366, NULL, NULL, NULL, NULL, NULL, 144, NULL, NULL, '2010-03-26 12:12:00', 'vsa', NULL, NULL, 12391, 'Italy', 3, NULL, NULL, NULL, NULL);
    </pre>

    <h3><a id="crbanim_dump"></a>Creating a CRB-Anim dump</h3>

    <p>
      Data from CRB-Anim can be imported using a standard CSV file. However, in
      order to import data correctly, CSV file has to start with a header column
      in which those column are defined (the order of them doesn't matter):
      <code>
        'sex',
        'species_latin_name',
        'country_of_origin',
        'breed_name',
        'animal_ID',
        'sample_bibliographic_references',
        'sample_identifier',
        'animal_birth_date',
        'sample_storage_temperature',
        'sample_type_name',
        'body_part_name',
        'sampling_date',
        'sampling_protocol_url',
        'sample_availability',
        'EBI_Biosample_identifier'
      </code>

    </p>

    <h3><a id="template_file"></a>Creating a template file</h3>

    <p>
      Data import from Template file is not yet supported
    </p>

  </section>

  <section>
    <h2 class="mt-3">Starting a new submission</h2>
    <p>
      From the <a href="{% url 'image_app:dashboard' %}">Dashboard</a> page, click
      on <a href="{% url 'submissions:create' %}">Create</a> submission button,
      and then fill the form properly: each filled value will be used for biosample
      submission. The <em>Gene bank country</em> field is important since it
      will be used to traslate terms from the provided language into the standard
      english used for Biosamples submission. Another important field is the
      <em>Data source type</em> which will be used to import data from the different
      data sources types (<a href="#cryoweb_dump">Cryoweb</a>, <a href="#crbanim_dump">CRB-Anim</a>
      or <a href="#template_file">Template</a> format). Then you have to choose the
      file to upload using the <em>Uploaded file</em> field. File should be
      in plain text and UTF-8 or ASCII encoding, or the uploading process will
      be rejected.
    </p>

    <div class="row align-items-center">
      <img href="{% static 'images/07-create-submission-1.png' %}" data-fancybox data-caption="Press generate a new AAP profile button" class="img-thumbnail mx-auto float-left" src="{% static 'images/07-create-submission-1-thumbnail.png' %}" alt="Create a new Submission">
      <img href="{% static 'images/08-create-submission-2.png' %}" data-fancybox data-caption="Fill form and generate a new AAP profile" class="img-thumbnail mx-auto float-right" src="{% static 'images/08-create-submission-2-thumbnail.png' %}" alt="New Submission Form">
    </div>

    <p>
      After the submission is created, data will be imported in background by the
      system. When submission status has the <em>Loaded</em> state, data are imported
      with success from your data source and need to be validated before submission.
      You can have more info on submission statuses <a href="{% url 'about' %}#submission_statuses">here</a>.
    </p>
  </section>

  <section>
    <h2 class="mt-3">InjectTool demostration video</h2>

    <p>
      The following video shows the main steps starting from user registration to biosample
      submission:
    </p>

    <div class="card my-3">
      <div class="card-body">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_etbI5wPwxY"></iframe>
        </div>
        <p class="card-text mt-2">InjectTool video demostration</p>
      </div>
    </div>

  </section>

  <div class="row justify-content-around">
    <a class="btn btn-info btn-lg" href="{% url 'index' %}" role="button">Back to Home</a>
    <a class="btn btn-primary btn-lg" href="{% url 'image_app:dashboard' %}" role="button">Dashboard</a>
  </div>

{% endblock content %}

{% block custom-js %}
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script>
    $(function () {
      $('[data-fancybox]').fancybox({
  	     // Options will go here
      });
    });
  </script>
{% endblock custom-js %}
