
{% extends "base.html" %}

{% load static %}

{% block title %}
  Create a new AAP profile
{% endblock title %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock custom-css %}

{% block content %}
  <h1 class="text-center mb-4">Create a new AAP profile</h1>

  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Please specify a password to generate your <a href="https://aai.ebi.ac.uk/home" target="_blank">AAP profile</a>.
          This password will <strong>never</strong> registered into InjectTool. <span class="text-danger">Please keep track of This
          password. If you lose it, you will need to <a href="mailto:aap@ebi.ac.uk">contact EBI</a></span>
        </p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Create User</button>
            <a href="{% url 'image_app:dashboard' %}" class="btn btn-secondary" role="button">Return to dashboard</a>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
