
{% extends "base.html" %}

{% load static %}

{% block title %}
  Register User
{% endblock title %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/forms.min.css' %}">
{% endblock custom-css %}

{% block content %}
  <h1 class="text-center mb-4">Create a new AAP profile</h1>

  <div class="row justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text">
          Please specify a valid <a href="https://aai.ebi.ac.uk/home" target="_blank">AAP profile</a>.
          This password will <strong>never</strong> registered into InjectTool
        </p>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Register User</button>
            <a href="{% url 'uid:dashboard' %}" class="btn btn-secondary" role="button">Return to dashboard</a>
        </form>
      </div>
    </div>
  </div>


{% endblock content %}
