
{% extends "base.html" %}
{% load staticfiles %}
{% load json_tags %}

{% block title %}
  Token info
{% endblock title %}

{% block content %}
  <table class="table table-hover">
    <tbody>
      <tr class="table-info">
        <th scope="row">Biosample User:</th>
        <td>{{ name }}</td>
      </tr>
      <tr class="table-default">
        <th scope="row">Biosample Team:</th>
        <td>{{ team }}</td>
      </tr>
      {% if auth %}
        <tr class="table-success">
          <th scope="row">Biosample Token</th>
          <td id="claims">{{ auth }}</td>
        </tr>
      {% else %}
        <tr class="table-warning">
          <th scope="row">Biosample Token</th>
          <td>No valid token</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <p>
    <a href="{% url 'biosample:token-generation' %}" class="btn btn-success" role="button">Generate a new token</a>
    <a href="{% url 'image_app:dashboard' %}" class="btn btn-secondary" role="button">Return to dashboard</a>
  </p>

{% endblock content %}

{% block custom-js %}
  {# render json in pretty html http://caldwell.github.io/renderjson/ #}
  <script type="text/javascript" src="{% static "js/renderjson.js" %}"></script>
  <script>
    renderjson.set_icons('+', '-');
    document.getElementById("claims").appendChild(
      // using biosample.templatetags.json_tags
      renderjson({{ auth.claims|to_json }})
    );
  </script>
{% endblock %}
