{% extends "base.html" %}

{% block title %}
  Species List
{% endblock title %}

{% block content %}

<h1>Review species translation table</h1>

<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">Word</th>
      <th scope="col">Language</th>
      <th scope="col">Specie</th>
      <th scope="col">Term</th>
      <th scope="col">Confidence</th>
    </tr>
  </thead>
  <tbody>
    {% for speciesynonim in object_list %}
      <tr class="{% cycle 'table-primary' 'table-secondary' %}">
        <th><a href="{% url 'language:species-update' pk=speciesynonim.pk %}{% if country %}?country={{country.label}}{% endif%}">{{ speciesynonim.word }}</a></th>
        <td>{{ speciesynonim.language.label }}</td>
        <td>{{ speciesynonim.dictspecie.label }}</td>
        <td>{{ speciesynonim.dictspecie.term }}</td>
        <td>{{ speciesynonim.dictspecie.get_confidence_display }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/pagination.html' %}

<p class="container mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-2 text-center">
      <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Call Zooma</a>
    </div>
    <div class="col-lg-4 col-md-6 mt-2 text-center">
      <a class="btn btn-secondary btn-lg btn-block" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a>
    </div>
  </div>
</p>

{% endblock %}
