{% extends "base.html" %}

{% load uid_tags %}

{% block title %}
  Species List
{% endblock title %}

{% block content %}

<h1>Review species translation table</h1>

<p>Here is the InjecTool Specie Translation Table: here you can set specie in your
own language and let InjecTool know what specie your data come from.
You could translate the <em>Cow</em> or <em>Dog</em> terms in <em>Bos Taurus</em>
or <em>Canis lupus familiaris</em>: everytime InjecTool will found <em>Cow</em> or
<em>Dog</em> in your data will assign the correct specie to your samples. When you upload a submission
with a new term, the submission will be marked with the <em>Need revision</em>
status and you will need to associate you new term with the correct specie before
uploading your data again. If you don't find the correct specie, please
<a href="mailto:{% get_admin_email %}?subject=please add my organization">contact</a>
InjectTool developers.</p>

<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">Word</th>
      <th scope="col">Country</th>
      <th scope="col">Specie</th>
    </tr>
  </thead>
  <tbody>
    {% for speciesynonim in object_list %}
      <tr class="{% cycle 'table-primary' 'table-secondary' %}">
        <th><a href="{% url 'language:species-update' pk=speciesynonim.pk %}{% if country %}?country={{country.label}}{% endif%}">{{ speciesynonim.word }}</a></th>
        <td>{{ speciesynonim.language.label }}</td>
        <td>{{ speciesynonim.dictspecie.label }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/pagination.html' %}

<p class="container mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-2 text-center">
      <a class="btn btn-primary btn-lg btn-block" href="{% url 'zooma:ontologies_report' %}" role="button">Call Zooma</a>
    </div>
    <div class="col-lg-4 col-md-6 mt-2 text-center">
      <a class="btn btn-secondary btn-lg btn-block" href="{% url 'uid:dashboard' %}" role="button">Return to Dashboard</a>
    </div>
  </div>
</p>

{% endblock %}
