{% extends "base.html" %}

{% load uid_tags %}
{% load biosample_tags %}

{% block title %}About IMAGE-InjectTool{% endblock title %}

{% block content %}
  <h1>About IMAGE-InjectTool</h1>

  <section>
    <h2>Introduction</h2>

    <p>
      One key challenge of that <a href="http://www.imageh2020.eu/">IMAGE</a> addresses
      is the integration and transparent use of the vast information stored within
      more than 60 gene banks/genetic collections spanning 20 European countries,
      together with the collection of newly generated data. Information to be collected
      and integrated through the IMAGE portal is currently stored in each
      individual's local databases at gene banks, research institutions, breeding
      companies etc. which utilizes a wide range of systems : from simple excel
      files to large national well-structured databases.
    </p>
    <p>
      <a href="https://www.ncbi.nlm.nih.gov/pubmed/21364801/">Cryoweb</a>
      is a web-based software for the documentation and storage of gene bank data.
      Currently, the majority of National gene banks are using Cryoweb to manage
      their information. In France, the <a href="https://www.crb-anim.fr/">CRB-Anim</a>
      database collects and stores information for reproductive and genomic material
      of domestic animals (mammals, birds, fishes and shellfishes) in the country.
      Other countries have developed relational databases to manage their collections.
      Using InjectTool, data derived from different sources can be standardized and
      validated against <a href="https://github.com/cnr-ibba/IMAGE-metadata">IMAGE metadata</a>
      standards and finally submitted to <a href="https://www.ebi.ac.uk/biosamples/">EBI BioSamples</a>,
      which has been chosen as the sample reference archive for all IMAGE data.
    </p>
    <p class="lead text-primary text-justify">
      <strong>
        The IMAGE InjectTool is a tool which makes it easier to
        archive data into BioSamples from the user's point of view.
      </strong>
    </p>

  </section>

  <section>
    <h2>Methods</h2>

    <p>
      The InjectTool has been developed to help gene bank/genomic collections
      managers to enhance, standardize, tag and submit their gene bank data to
      <a href="https://www.ebi.ac.uk/biosamples/">BioSamples archive</a> that integrates all
      gene bank records from across Europe. The InjectTool uses a well-defined
      metadata ruleset ensuring high quality and comparable data across the diverse
      collections originating in different storage formats and languages.
    </p>
    <p>
      The system is built on a set of customized <a href="https://www.docker.com/">docker</a> images using
      <a href="https://docs.docker.com/compose/">docker-compose</a> :
      the user will interact on a web application rendered using
      <a href="https://www.nginx.com/">Nginx</a>, while
      on the backend a <a href="https://www.postgresql.org/">PostgreSQL</a> instance
      stores user data and a <a href="https://www.djangoproject.com/">Django</a>
      image renders pages in HTML using <a href="https://getbootstrap.com/">Bootstrap 4</a>
      in order to display data and proving forms able to do data manipulation.
      <a href="http://www.celeryproject.org/">Celery</a> and <a href="https://redis.io/">Redis</a> are used to perform
      long tasks such as the data validation process, data submissions to BioSamples archive and monitoring of
      BioSamples submission statuses.
    </p>
    <p>
      User will be able to import data from the dump files of either Cryoweb or CRB-Anim, or the template spreadsheet
      file into InjectTool and Injects tool will validates and submits data to BioSamples archive. User interaction is
      only required when the data fails the validation against <a href="https://github.com/cnr-ibba/IMAGE-metadata">
      IMAGE metadata</a> standards to make manual curations.

      The project is mainly written in <a href="https://www.python.org/downloads/">Python 3</a>
      using the <a href="http://www.obeythetestinggoat.com/">test-driven</a> approach. A live version of the system is available
      at <a href="{% url 'index' %}">{% absolute_url '/image/' %}</a> while
      the code is available <a href="https://github.com/cnr-ibba/IMAGE-InjectTool">here</a>
    </p>

    <h3><a class="anchor" id="submission_statuses"></a>Submission statuses</h3>

    <p>
      Processes like data import, data validation and submission to BioSamples
      require a period of time and can't be completed immediately to get the instant result page.
      InjectTool have monitoring procedures running constantly and asynchronously
      in the background, in order to provide 'live' result pages. However, you can't
      modify your data while performing such background tasks, otherwise valid data could be modified to be invalid
      by mistake during a submission process.
      Various submission statuses have been defined within InjectTool depending on which tasks are accomplished
      on your data. Statuses may change when tasks are completed.
      We plan to develop status updates in the visualized page without user intervention.
      Current statuses are:
      <ul>
        <li>
          <strong>Loaded:</strong> Data were correctly imported from your data sources.
          You need to validate them before submitting to BioSamples archive
        </li>
        <li>
          <strong>Waiting:</strong> Some tasks are currently running on your data, you
          can't edit or delete your data or perform other tasks like validation or
          submission to BioSamples. All links or buttons related to such changes are
          disabled, and you have to wait in order to modify your data again.
        </li>
        <li>
          <strong>Error:</strong> This status should never be seen. This status
          could be determined by an issue in InjectTool. You may receive an email describing
          what has gone wrong, please forward this email to InjectTool
          <a href="mailto:{% get_admin_email %}?subject=feedback">developers</a>
          with description of the steps you have taken to reach this particular status.
        </li>
        <li>
          <strong>Ready:</strong> Submission has been validated with success and
          could be submitted to BioSamples
        </li>
        <li>
          <strong>Need revision:</strong> Submission has issues in validation or
          in BioSamples submission. You need to check error message and fix your
          data accordingly. Modifying or deleting your data in any other submission
          states, will result in a <em>Need revision</em> status. You have to
          validate your submission with success to get a <em>Ready</em> status and
          being able to submit your data to BioSamples.
        </li>
        <li>
          <strong>Submitted:</strong> Data has been submitted to BioSamples. InjectTool is waiting for the submission
          response from BioSamples to retrieve assigned BioSamples accessions.
        </li>
        <li>
          <strong>Completed:</strong> Data has been submitted to BioSamples with success and
          has received the assigned BioSamples accession(s). Congratulations! Now your data will be publicly available
          in BioSamples archives in a few days.
        </li>
      </ul>
    </p>


    <h3>Submission details page documentation</h3>
    <p>
      The submission details page provides information about each submission, for example,  Submission Title,
      Description, etc.
    </p>
    <p>
      The action buttons at the bottom of the page allows changes to be made to the submission, the 8 actions are:
      <ul>
        <li>
          <strong>Edit data:</strong> Enables editing of the current submission.
        </li>
        <li>
          <strong>Submissions List:</strong> View all of your submissions.
        </li>
        <li>
          <strong>Validate:</strong> Start the validation process, your must revalidate your submission after any edits
          or additions of data.
        </li>
        <li>
          <strong>Return to Dashboard:</strong> Return to the Dashboard homepage view.
        </li>
        <li>
          <strong>Submit:</strong> This button will submit your data to BioSamples. This button only becomes active when
          the status of your submission is "Ready", meaning that you have passed all validation steps.
        </li>
        <li>
          <strong>Danger Zone:</strong> Dropdown menu contains group of buttons with possible dangerous actions:
          <ul>
            <li>
              <strong>Reload from external data source:</strong> Enables user to overwrite existing data using a new
              data source file. If you have made edits to records within the IMAGE inject tool, these changes may be
              lost and need to be remade.
            </li>
            <li>
              <strong>Update submission:</strong> Enables user to update information about current submission (could
              possibly lead to situation when submission is no more valid)
            </li>
            <li>
              <strong>Delete submission:</strong> Delete the current submission. Warning, this cannot be undone.
            </li>
          </ul>
        </li>
      </ul>
    </p>
  </section>

  {# I need to call my function in a variable or I couldn't evaluate an if condition #}
  {% is_biosample_test_env as test_environment %}

  {% if test_environment %}
    <section id="injecttool_test_site">
      <h2>InjectTool test site</h2>

      <p>
        InjectTool is currently in testing stage. We currently submit data to
        <a href="https://wwwdev.ebi.ac.uk/biosamples/">BioSamples test server</a>, which synchronize the data with
        production server weekly. Therefore data submitted through InjectTool will be lost as planned.
        We are doing our best to shorten the test period
        while making the system as reliable as possible. We welcome any
        feedback/comment/suggestion which can be submitted by
        <a target="_blank" href="https://github.com/cnr-ibba/IMAGE-InjectTool/issues/new/choose">opening a new issue</a>
        to make InjectTool better.
      </p>
    </section>
  {% endif %}

  <div class="row justify-content-around">
    <a class="btn btn-info btn-lg" href="{% url 'index' %}" role="button">Back to Home</a>
    <a class="btn btn-primary btn-lg" href="{% url 'about-uploading' %}" role="button">Submitting data to BioSamples</a>
  </div>

{% endblock content %}
