
{% extends "base.html" %}

{% load static %}

{% load uid_tags %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}" />
{% endblock custom-css %}

{% block title %}About Submissions{% endblock title %}

{% block content %}

<h1>About Submissions</h1>

<section>
  <h2>InjectTool Submission</h2>

  <p>
    <em>Submission</em> is the central concept used within InjectTool.
    It is associated with a data file (for more information see our
    tutorial at <a href="{% url 'about-uploading' %}#prepare_a_new_submission">Preparing a new submission</a>) and
    is private to the user who creates it. After creating a submission, <em>Animals</em> and <em>Samples</em> objects
    are created from the selected data file and to be validated
    against <a href="https://github.com/cnr-ibba/IMAGE-metadata">IMAGE metadata</a>. If all records pass the validation,
    the data are ready to be submitted to <a href="https://www.ebi.ac.uk/biosamples/">BioSamples archive</a>.
    Once submitted to BioSamples, your data will be available to the community
    through BioSamples site in a few days.

  </p>

  <h3>Submission details page</h3>

  <p>
    The submission details page provides information about each submission, for example
    <em>Submission Title</em>, <em>Description</em>, etc. Within the submission
    detail page a user can perform task like <em>edit</em>, <em>validate</em> or
    <em>submit</em> the data by clicking the corresponding buttons which locate
    at the bottom of the page. Here is an example picture for a Submission Detail page:
  </p>

  <div class="row align-items-center">
    <img href="{% static 'images/submission_detail.png' %}" data-fancybox data-caption="Submission Detail Page" class="img-thumbnail mx-auto float-right" src="{% static 'images/submission_detail-thumbnail.png' %}" alt="Submission Detail Page">
  </div>

  <p>
    The action buttons allows changes to be made to the submission. Some actions
    are available only if some conditions are satisfied, for example you can <em>Submit</em>
    data to BioSamples only if you <em>Validated</em> them with success. Here are
    described all the possible actions that could be applied to a submission:
    <ul>
      <li>
        <strong>Edit data:</strong> Enables editing of the current submission data. Here you
        can fix <em>Animals</em> and <em>Samples</em> records, or delete them. After
        BioSamples submission, you can inspect your BioSamples IDs by clicking on
        this button.
      </li>
      <li>
        <strong>Submissions List:</strong> View all of your submissions.
      </li>
      <li>
        <strong>Validate:</strong> Start the validation process, your must revalidate
        your submission after any edits or additions of data.
      </li>
      <li>
        <strong>Return to Dashboard:</strong> Return to the Dashboard homepage view.
      </li>
      <li>
        <strong>Submit:</strong> This button will submit your data to BioSamples.
        This button only becomes active when the status of your submission is
        <em>Ready</em>, meaning that you have passed all validation steps.
      </li>
      <li>
        <strong>Danger Zone:</strong> This Dropdown menu contains group of buttons
        with possible dangerous actions. All of these options may have consequences on
        multiple <em>Samples</em> or <em>Animal</em> records, hence there are
        grouped in this <em>Danger zone</em> button. All of them are available only
        if no background task is executed for this submission:
        <ul>
          <li>
            <strong>Reload from external data source:</strong> Enables user to overwrite
            existing data using a new data source file or the same file used
            when the submission was created. All data present in the datasource will
            overwrite the data you have in the InjectTool submission. If you have
            made edits to records within the IMAGE inject tool, these changes may be
            lost and need to be remade.
          </li>
          <li>
            <strong>Update submission:</strong> Enables user to update information
            about current submission, such as the <em>Title</em> or the <em>Description</em>
          </li>
          <li>
            <strong>Delete animals from submission:</strong> This is a bulk delete of
            <em>Animals</em> by specifing a list of names. You have to specify on name by line
            belonging to the submission you want to modify.
            <span class="text-danger"><strong>No record will be removed from BioSamples site, if
            such records were already submitted</strong></span>
          </li>
          <li>
            <strong>Delete samples from submission:</strong> This is a bulk delete of
            <em>Samples</em> by specifing a list of names. You have to specify on name by line
            belonging to the submission you want to modify.
            <span class="text-danger"><strong>No record will be removed from BioSamples site, if
            such records were already submitted</strong></span>
          </li>
          <li>
            <strong>Delete submission:</strong> Delete the current submission and
            all its associated records. Warning, this cannot be undone.
            <span class="text-danger"><strong>No record will be removed from BioSamples site, if
            such records were already submitted</strong></span>
          </li>
        </ul>
      </li>
    </ul>
  </p>

  <h3><a id="submission_statuses"></a>Submission statuses</h3>

  <p>
    Processes like data import, data validation and submission to BioSamples
    require a period of time and can't be completed immediately to get the instant result page.
    InjectTool have monitoring procedures running constantly and asynchronously
    in the background, in order to provide <em>"live"</em> result pages. However, you can't
    modify your data while performing such background tasks, otherwise valid data could be modified to be invalid
    by mistake during a submission process.
    Various submission statuses have been defined within InjectTool depending on which tasks are accomplished
    on your data. Statuses may change when tasks are completed, and from submission
    detail page the can change in real-time without user intervention.
    Current statuses are:
    <ul>
      <li>
        <strong>Loaded:</strong> Data were correctly imported from your data sources.
        You need to validate them before submitting to BioSamples archive
      </li>
      <li>
        <strong>Waiting:</strong> Some tasks are currently running on your data, you
        can't edit or delete your data or perform other tasks like validation or
        submission to BioSamples. All links or buttons related to such changes are
        disabled, and you have to wait in order to modify your data again.
      </li>
      <li>
        <strong>Error:</strong> This status should never be seen. This status
        could be determined by an issue in InjectTool. You may receive an email describing
        what has gone wrong, please forward this email to InjectTool
        <a href="mailto:{% get_admin_email %}?subject=feedback">developers</a>
        with description of the steps you have taken to reach this particular status.
      </li>
      <li>
        <strong>Ready:</strong> Submission has been validated with success and
        could be submitted to BioSamples
      </li>
      <li>
        <strong>Need revision:</strong> Submission has issues in validation or
        in BioSamples submission. You need to check error message and fix your
        data accordingly. Modifying or deleting your data in any other submission
        states, will result in a <em>Need revision</em> status. You have to
        validate your submission with success to get a <em>Ready</em> status and
        being able to submit your data to BioSamples.
      </li>
      <li>
        <strong>Submitted:</strong> Data has been submitted to BioSamples. InjectTool is waiting for the submission
        response from BioSamples to retrieve assigned BioSamples accessions.
      </li>
      <li>
        <strong>Completed:</strong> Data has been submitted to BioSamples with success and
        has received the assigned BioSamples accession(s). Congratulations! Now your data will be publicly available
        in BioSamples archives in a few days.
      </li>
    </ul>

    For a more detailed picture about status changes, please see the
    <a href="https://image-injecttool.readthedocs.io/en/latest/modules/common.html#submission-statuses">Submission statuses</a>
    picture from <a href="https://image-injecttool.readthedocs.io/en/latest/modules/common.html#common-statuses">Common statuses</a>
    in InjectTool <a href="https://image-injecttool.readthedocs.io/en/latest/index.html">developer documentation at Read The Docs</a>

  </p>

</section>

<section>
  <h2>Editing Submission data</h2>

  <p>
    Data could be manually edited by clicking on <em>Edit data</em> button and
    editing a single record by clicking the appropriate <em>Edit/Delete</em>
    buttom as shown in the following figure:
  </p>

  <div class="row align-items-center">
    <img href="{% static 'images/13-submission_complete.png' %}" data-fancybox data-caption="Submission Completed with BioSamples IDs" class="img-thumbnail mx-auto float-right" src="{% static 'images/13-submission_complete-thumbnail.png' %}" alt="Submission completed with BioSamples ids">
  </div>

  <p>
    After manual modification, data need to be validated again in order to be submitted
    into BioSamples. In alternative, a user can update the original data source and
    then reload the edited submission file using <em>Reload Submission</em> under
    the <em>Danger zone</em> button: all data contained in the edited datasource
    will overwrite data present in InjectTool reling on animal/sample <em>Name</em>.
    Data present into InjectTool and not in the edited datasource will remain the same.
    In order to remove data from a submission, you will need to click on <em>Delete</em>
    buttons or specify multiple names under the <em>Delete animals from submission</em>
    or <em>Delete samples from submission</em> under the <em>Danger zone</em> button
    in submission detail page.
  </p>

  <p>
    InjectTool tracks submitted data through its <em>BioSamples id</em>. If you edit
    an already submitted record and the validation steps is ok, only updated records
    will be submitted to BioSamples, while not-modified record will be ignored.
  </p>
  <p class="lead text-primary text-center">
    <strong>
      Through InjectTool is possible to modify a BioSamples record by modifying the
      corresponding record in your submission
    </strong>
  </p>

</section>

<section>
  <h2>Adding new data into InjectTool</h2>

  <p>
    InjectTool is designed in order to collect unique samples or animals for
    each user. You can have animal with the same name for different breed or species
    but you can't have the same animal name for the same breed. Similarly, you can
    have samples with the same names for different animals, but no samples with the
    same name for the same animal. In such way, if you reload the same dataset in
    a different submission, you will generate an empty submission (with no Animal or Samples).
    This means that cryoweb users could upload a more recent version of their
    database dumps in a new submission without worring about removing records already loaded
    into BioSamples: only new records will be inserted in the new submission.
  </p>
  <p>
    If you plan to add new data to BioSamples, the recommended way is to load new
    data in a new submission, in order to maintain a correspondance to data
    belonging to the submission and its associated datasource. You could upload
    animal or samples related to animals belonging to a previous submission,
    however you must ensure that the referred animal is already present into BioSamples
    otherwise your submission will fail.
  </p>

</section>

<p class="container mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-2 text-center">
      <a class="btn btn-info btn-lg btn-block" href="{% url 'about' %}" role="button">About IMAGE-InjectTool</a>
    </div>
    <div class="col-lg-4 col-md-6 mt-2 text-center">
      <a class="btn btn-primary btn-lg btn-block" href="{% url 'about-uploading' %}" role="button">Submitting data to BioSamples</a>
    </div>
    <div class="col-lg-4 col-md-6 mt-2 text-center">
      <a class="btn btn-secondary btn-lg btn-block" href="{% url 'index' %}" role="button">Back to Home</a>
    </div>
  </div>
</p>

{# back to top adapted from https://codepen.io/michalwyrwa/pen/GBaPPj #}
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>

{% endblock content %}

{% block custom-js %}
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script>
    $(function () {
      $('[data-fancybox]').fancybox({
  	     // Options will go here
      });
    });

    $(document).ready(function(){
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $('#back-to-top').fadeIn();
        } else {
          $('#back-to-top').fadeOut();
        }
      });

      // scroll body to 0px on click
      $('#back-to-top').click(function () {
        $('body,html').animate({
          scrollTop: 0
          }, 400);
        return false;
      });
    });
  </script>
{% endblock custom-js %}
