{% extends "base.html" %}

{% load submissions_tags %}

{% block title %}
  Dashboard
{% endblock title %}

{% block content %}

  <h1>Welcome {{ user.first_name|capfirst }}!</h1>

  <p>
    This is the main page of InjectTool application. The key idea is to upload
    data from your data sources by creating a new InjectTool Submission.
    Data that you upload here will be private to you, and will be published into
    <a href="{{ biosample_url }}" target="_blank">BioSamples</a> when
    you complete the InjectTool submission process after validating your data against
    <a href="https://github.com/cnr-ibba/IMAGE-metadata" target="_blank">IMAGE-metadata</a> rules.
    Once submitted to BioSamples, your data will be available to the community through
    BioSamples site and <a href="https://www.image2020genebank.eu/" target="_blank">IMAGE Data Portal</a> in a few days.
    You can start to upload your data by clicking on <em>Create</em> button and create
    a new InjectTool Submission. You can also modify a previous submission by pressing the
    <em>List</em> Submission button. You can have an overview of your data by pressing
    the <em>info</em> button. If you need more help during the submission process, please
    refer to the <a href="{% url 'about-uploading' %}" target="_blank">Submitting data into BioSamples</a>
    tutorial.
  </p>

  <div class="card-deck pt-5">

    {# info on aligning cards: https://stackoverflow.com/a/48757628/4385116/ #}
    <div class="card border-primary mb-3" style="">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Submit</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">Create New Submission</h4>
        <p class="card-text">Upload your data into InjectTool and start a new submission!</p>
        <div class="text-center mt-auto">
          <a class="btn btn-primary btn-lg col-lg-4" href="{% url 'submissions:create' %}" role="button">Create</a>
        </div>
      </div>
    </div> <!-- card submit -->

    {# call a custom templatetag and send result into a variable #}
    {% have_submission user as submissions %}

    <div class="card border-primary mb-3" style="">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">View</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">View Existing Submissions</h4>
        <p class="card-text">List all existing submissions</p>
        <div class="text-center mt-auto">
          <a class="btn btn-secondary btn-lg col-lg-4{% if not submissions %} disabled {% endif %}" href="{% url 'submissions:list' %}" role="button">List</a>
        </div>
      </div>
    </div>
    <div class="card border-info mb-3" style="">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Summary</h4>
      </div>
      <div class="card-body d-flex flex-column">
        <h4 class="card-title">Data status Summary</h4>
        <p class="card-text">Get information about your data and submissions</p>
        <div class="text-center mt-auto">
          <a class="btn btn-info btn-lg col-lg-4" href="{% url 'uid:summary' %}" role="button">Info</a>
        </div>
      </div>
    </div>
  </div> <!-- card-deck -->


{% endblock %}
