
{% extends "base.html" %}

{% load static %}
{% load validation_tags %}

{% block title %}
  Sample {{ sample.pk }} Confirm Delete
{% endblock title %}

{% block custom-css %}
  <link rel="stylesheet" href="{% static 'css/forms.min.css' %}">
{% endblock custom-css %}

{% block content %}

<h1 class="text-center my-4">
  Delete <em>{{ sample.name.name|truncatechars:30 }}?</em>
</h1>

<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12">
    <div class="card">
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
            <a href="javascript:{goBack()}" class="btn btn-secondary" role="button">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block custom-js %}
<script>
  // back to previous page https://www.w3schools.com/jsref/met_his_back.asp
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}
