
{% extends "base.html" %}

{% load validation_tags %}

{% block title %}
  Sample List
{% endblock title %}

{% block content %}

<h1>All Samples In Your Namespace</h1>

<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
      <th scope="col">Submission</th>
      <th scope="col">Biosample ID</th>
      <th scope="col">Validation</th>
    </tr>
  </thead>
  <tbody>
    {% for sample in object_list %}
      <tr class="{% cycle 'table-primary' 'table-secondary' %}">
        <th><a href="{% url 'samples:detail' pk=sample.pk %}">{{ sample.name.name|truncatechars:30 }}</a></th>
        <td>
          {% include "samples/sample_buttons.html" %}
        </td>
        <td><a href="{% url 'submissions:detail' pk=sample.submission.pk %}">{{ sample.submission.title }}</a> </td>
        <td>{{ sample.name.biosample_id }}</td>
        <td>{{ sample.name|get_badge }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'includes/pagination.html' %}

<p class="container mt-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 mt-2 lead text-center">
      <a class="btn btn-primary btn-lg btn-block" href="{% url 'submissions:list' %}" role="button">Back to Submissions List</a>
    </div>
    <div class="col-lg-4 col-md-6 mt-2 lead text-center">
      <a class="btn btn-secondary btn-lg btn-block" href="{% url 'image_app:dashboard' %}" role="button">Return to Dashboard</a>
    </div>
  </div>
</p>

{% endblock content %}

{% block custom-js %}
<script>
// Jquery called when document is loaded
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
